/*General*/

$background : #fff;

body{
	font-family: 'Inconsolata', monospace;
	font-size: 1em;
	letter-spacing: 0.02em;
	background-color: $background;
  background:url('../img/dot.png');
  background-repeat:repeat;
  background-attachment:fixed;
}

html {
	max-width: 100%;
	overflow-x: hidden;
}

img {
	width: 100%;
	height: auto;
}

figure {
	padding: 1em;
}

h1{
	font-family: 'Lora', monospace;
	font-size: 2.5em;
	font-weight: 700;
	letter-spacing: 0.35em;
	text-transform: lowercase;
}

h2{
	font-family: 'Lora', monospace;
	font-size: 1.2em;
	font-weight: 700;
	text-transform: lowercase;
	letter-spacing: 0.2em;
}

h3{
	font-family: 'lora', monospace;
	font-size: 0.95em;
	font-weight: 700;
	letter-spacing: 0.2em;
	text-transform: lowercase;
	opacity: 0.8;
	padding-right: 2em;

}

p{
	font-size: 0.8em;
	line-height: 1.3;
	opacity:0.8;
}

a{
	text-decoration: none;
}


ul {
	font-family: 'Inconsolata', monospace;
	list-style: none;
	padding-left: 0;

}

li {
	font-family: 'Inconsolata', monospace;
	line-height: 2em;
}


section code {
	display: block;
  border: 1px solid #d1d1d1;
  background-color: #fcfcfc;
	padding: 0.5em 0.75em;
  font-size: 0.9em;
}

section {
	padding-bottom: 2em;
}

#intro, #work {
	padding-bottom: 2em;
}

#work {
	padding-top: 1em;
}

/*Styleguide*/

.styleguide-title h2{
	letter-spacing: 0.35em;
  font-size: 2.5em;
  opacity: 0.9;
  padding-bottom: 1em;
}

#interactive-elements{
	position: relative;
	margin: 2em;
	padding-left:2em;
	padding-right: 2em;
}

#links, #headings, #paragraphs, #lists, #images{
	padding-top: 3em;
	padding-bottom: 3em;
}

#nav {
  padding-top: 0em;
	padding-bottom: 2.5em;
}

 #images{
  padding-top: 3em;
	padding-bottom: 4em;
}

#colours{
padding-top: 2em;
padding-bottom: 4em;
}

#grids{
  padding-top: 3em;
	padding-bottom: 8em;
}



.grid-structure, .grid-structure1 {
  border: 1px solid #d1d1d1;
  background-color: #f7f7f7;
	text-align: center;
	padding: 0.5em;
	margin-bottom: 0.5em;
	margin-top: 0.5em;
}

.grid-structure1 {
	margin-bottom: 1em;
  margin-left: 0.5em;
  margin-right: 0.5em;
}

.title {
	padding-top: 2em;
}

.styleguide-side-nav {
	position: -webkit-sticky;
    position: sticky;
    top: 0;
	padding-left: 5em;
	z-index: 3;
	top: 50vh;
	transform: translateY(-50%);
}

.styleguide-side-nav ul{
	list-style: none;
	padding-left: 0;
}

.styleguide-side-nav a{
	color: #000000;
	text-decoration: none;
	font-size: 0.9em;
	opacity: 0.8;
	letter-spacing: 0.05em;
}

.styleguide-side-nav a:hover, .styleguide-side-nav a:focus, .styleguide-side-nav a:active {
	text-decoration: none;
	opacity: 0.8;
	color: #ff4633;
}

.styleguide-side-nav li{
	line-height: 2em;
}


.styleguide-main-nav {
	position: relative;
	left: 0;
	top: 0;
	z-index: 13;
	color: black;
	text-decoration: none;
}

.styleguide-main-nav ul{
	list-style: none;
	padding-left: 0;
}

.styleguide-main-nav li{
	display:inline;
	padding-right: 1em;
}
.styleguide-main-nav a{
	color: #000000;
	text-decoration: none;
	font-size: 0.95em;
	opacity: 0.8;
	letter-spacing: 0.1em;
}

.styleguide-main-nav a:hover {
	text-decoration: none;;
	opacity: 0.8;
	color: #ff4633;
}

.in-text-link{
	opacity: 0.15;
	font-size: 1.2em;
	font-family: 'Lora', serif;
	font-weight: 700;
	letter-spacing: 0.2em;;
	text-transform: lowercase;
	color: black;
	text-decoration: none;
}

.in-text-link:hover {
	opacity: 0.3;
	color: #ff4633;
	text-decoration: none;
}

.submit-button {
	display: inline-block;
	margin: 1em 0;
	padding: 0.8em 2em;
	color: black;
	background-color: white;
	border: 1px solid black;
}


.colour-palette1{
	width: 100%;
	height: 140px;
	background-color: #000000;
	color: white;
	text-align: center;
	display: inline-block;
  padding-left:1.5em;
}

.colour-palette2{
	width: 100%;
	height: 140px;
	background-color: #FFFFFF;
	border: 1px solid grey;
	color: black;
	text-align: center;
	display: inline-block;
  padding-left:2em;
}

.colour-palette3{
	width: 100%;
	height: 140px;
	background-color: #d6d6d6;
	color: black;
	text-align: center;
	display: inline-block;
  padding-left:1.5em;
}

.colour-palette4{
	width: 100%;
	height: 140px;
	background-color: #ff4633;
	color: black;
	text-align: center;
	display: inline-block;
  padding-left:2em;
}

.styleguide-image-container {
	overflow: hidden;
	position: relative;

}

.styleguide-image-container img{
		width: 100%;
		height: 100%;
		object-fit: cover;
		display: inline-block;
	}

/*Intro*/


header a{
	color: #000;
}

header {
	position: relative;
	height: 50px;
	width: 100%;
}

.header{
  position: fixed;
  height: 70px;
	width: 100%;
  top:0;
  z-index: 14;
}

.logo {
	position: fixed;
	padding-top: 1em;
	left:1em;
	z-index: 15;
	width:60px;
	opacity: 0.4;

}

.logo:hover {
	opacity: 0.2;

}


.main-nav {
	position: fixed;
	right: 1em;
	top: 0;
	z-index: 16;
	color: black;
	text-decoration: none;
}

.main-nav ul{
	list-style: none;
	padding-left: 0;
}

.main-nav li{
	display:inline;
	padding-left: 1em;
}
.main-nav a{
	color: #000000;
	text-decoration: none;
	font-size: 0.9em;
	opacity: 0.7;
	letter-spacing: 0.1em;
}

.main-nav a:hover {
	text-decoration: none;
	color: #ff4633;
	opacity: 0.8;
}

#intro{
	position: relative;
	/*background-color: #f94e3d;*/
}


@keyframes bouncing {
	0% {bottom: 0;}
	50% {bottom: 18px;}
	100% {bottom: 0;}
}

.arrow {
	animation: bouncing 1.5s infinite ease-in-out;
	bottom: 0;
	display: block;
	height: 35px;
	width: 40px;
	transform: translate(-50%, -50%);
	left: 50%;
	padding: 0;
	margin-bottom: 9em;
	position: absolute;
}


.bottom-info{
	position: absolute;
	top: 39vh;
	padding-top: 235px;
	text-align: center;
	height: auto;
	width: 330px;
	transform: translate(-50%, -50%);
	left: 50vw;
	overflow: hidden;
	object-fit: cover;
}

.background-box {
	width: 460px;
	height: 300px;
	overflow: hidden;
	background-color: lightgrey;
	position: relative;
}

.background-box img {
	position: absolute;
	width: 100%;
	height: 100%;
	object-fit: cover;
}

.intro-section {
	position: relative;
  width: 100vw;
	height: 100vh;
}


.intro-name h2{
  display: block;
  white-space: nowrap;
	height: auto;
	position: absolute;
	transform: translate(-50%, -50%);
	top: 36vh;
	left: 50vw;
	overflow: hidden;
	object-fit: cover;
	opacity: 1;
	text-align: center;
	letter-spacing: 0.35em;
	color: black;
	opacity: 0.9;
	text-transform: lowercase;
	font-family: 'Lora', serif;
  margin: 0 auto;
}




.intro-name h2, .bottom-info p{
    animation: fadein 5s;
    -moz-animation: fadein 5s; /* Firefox */
    -webkit-animation: fadein 5s; /* Safari and Chrome */
    -o-animation: fadein 5s; /* Opera */
}
@keyframes fadein {
    from {
        opacity:0;
    }
    to {
        opacity:1;
    }
}
@-moz-keyframes fadein { /* Firefox */
    from {
        opacity:0;
    }
    to {
        opacity:1;
    }
}
@-webkit-keyframes fadein { /* Safari and Chrome */
    from {
        opacity:0;
    }
    to {
        opacity:1;
    }
}
@-o-keyframes fadein { /* Opera */
    from {
        opacity:0;
    }
    to {
        opacity: 1;
    }
}


/*Work*/

.work-image-container{
	overflow: hidden;
	position: relative;
	transform: translate(-50%, -20%);
	left: 50%;
}


.work-1{
	padding-top: 2em;
	padding-bottom: 13em;
	width: 100%;
}

.styleguide-work-1{
	padding-top: 6em;
	padding-bottom: 0em;
	width: 100%;
}


.work-2 {
	padding-top: 3em;
	padding-bottom: 13em;
	width: 100%;
}

.work-3 {
	padding-top: 3em;
	padding-bottom: 3em;
	width: 100%;
}

.work-image-container img{
	position: absolute;
	width: 100%;
	height: 100%;
	object-fit: cover;
	opacity: 1;
	-webkit-transition: opacity 0.1s ease-out;
	-moz-transition: opacity 0.1s ease-out;
	-o-transition: opacity 0.1s ease-out;
	transition: opacity 0.1s ease-out;
	display: inline-block;
}

.work-image-container img:hover {
	opacity: 1;

}

#under-image1:hover, #under-image2:hover, #under-image3:hover {
	opacity: 0;
}

.work-title {
	margin-top: 0.8em;
	opacity: 1;
	transform: translate(0%, -50%);
	overflow: hidden;
	position: relative;
	text-align: center;
}

.work-title:hover {
	margin-top: 0.8em;
	opacity: 0.7;
}

.work-title a{
	font-family: 'lora', monospace;
	font-size: 1em;
	font-weight: 700;
	letter-spacing: 0.3em;
	color: black;
	text-transform: lowercase;
	text-decoration: none;
	text-align: center;
}

.work-title p{
	padding-top: 1em;
	margin: 0.5em 0 0 0;
}

#journey2{
	opacity: 1;
}

#journey2:hover {
	opacity: 0;
}

/*About*/

#about-section {
	padding-top: 0;
}

.about-paragraph a{
  color: black;
  font-weight: bold;
}

.about-paragraph a:hover{
  color: #ff4633;
  font-weight: bold;
  opacity: 1;
}



.about-title h2{
		font-family: 'lora';
		font-weight: 700;
		letter-spacing: 0.3em;
}

/*Project2 - Journey*/

.project-image-container {
	width: 100%;
	height: auto;
	overflow: hidden;
	position: relative;
	padding-bottom: 0em;
	padding-top: 0em;
}

.project-image-container img{



}

.project-img{
	padding-left: 3em;
	margin-right: 3em;
}

.project-section {
	padding-top: 0em;
	line-height: 2em;
}

.project-section p{
	line-height: 1.65;
}

#video-link, #prototype-link{
	font-weight: 300;
	font-family: 'Inconsolata', serif;
	opacity: 0.9;
	color: black;
  font-weight: medium;
	font-size: 0.9em;
	letter-spacing: 0.05em;
	float: left;
	display: block;
  text-decoration: underline;
	/*border-bottom: 0.5px solid black;
	line-height: 2em;*/
}

#video-link:hover, #prototype-link:hover {
	opacity: 0.8;
	color: #ff4633;
}

.bottom-link {
	display: block;
	padding-bottom: 10em;
}

#content-section {
	padding-top: 2.5em;
}

.image-section {
	padding-left: 11em;
	padding-right: 11em;
	padding-top: 0em;
	padding-bottom: 0em;
	height: 100vh;
	width: 100%;
}

.header-image-container {
	overflow: hidden;
	position: relative;
	padding-bottom: 1em;
	margin-bottom: 1em;
	padding-top: 0em;
	padding-left: 6em;
	padding-right: 6em;
}

.header-image-container img{
	position: relative;
	width: 100%;
	height: 500px;
	object-fit: cover;
	display: inline-block;

}


.project-title h2{
	font-family: 'lora';
	font-size: 1.2em;
	text-align: center;
	font-weight: 700;
	letter-spacing: 0.3em;
}

.row1{
}

.row2{
	text-align: center;
}

.row2-project2{
	text-align: left;
}

.row3{
	text-align: center;
}

.content-img{
padding-top: 2em;
padding-bottom: 2em;
}

.large-img{
padding-top: 1em;
padding-bottom: 0em;
position: relative;
}

.content-image-container {
	width: 100%;
	height: 100%;
	overflow: hidden;
	position: relative;
	margin-bottom: 3em;
	margin-top: 3em;
}


.prototype-img video{
	width: 100%;
	height: 100%;
	padding-top: 3em;
	padding-bottom: 3em;
}

.promo-video video{
	padding-left: 10em;
	padding-right: 10em;
	opacity: 0.5;
	width: 100%;
	height: 100%;
}

.prototype-stages {
	padding-top: 2em;
	text-align: center;
}

.project-description p{
	font-size: 0.8em;
	line-height: 1.3;
	opacity:0.8;
	text-align: center;
	padding-bottom: 0;
	/*padding-left: 20em;
	padding-right: 20em;*/
}


.project-content h2 {
	font-family: 'Inconsolata', monospace;
	line-height: 1.5em;
	font-size: 1.2em;
	font-weight: 700;
}

.project-content p {
	margin-top: 0;
	line-height: 1.5em;

}

#project-content{
	padding-top: 0em;
}

/*project 1 - conscious culture*/

.header-image-container{
	position: absolute;
	top: 55vh;
	text-align: center;
	height: auto;
	transform: translate(-50%, -50%);
	left: 50vw;
	overflow: hidden;
	object-fit: cover;
	width: 100%;
}

#header-img, #intro-img{
	padding-left: 0em;
	padding-right: 0em;
	padding-top: 0;
	padding-bottom: 1em;
	margin: 0;
	margin-bottom: 2em;
}




/*Footer*/



#contact{
	padding-top: 2em;
}

footer {
	position: absolute;
	width: 100%;
	left:0;
	padding-left: 4em;
	padding-right: 4em;
	margin-top: 1em;
}



.global-footer {
	border-top: 1.3px solid #e8e8e8;
	color: black;
	position: relative;
	width: 100%;
	left:0;
	text-align: center;
	padding-bottom: 2em;
	padding-left: 1em;
	padding-right: 1em;
	padding-top: 1.5em;
}

.contact-info p{
	font-weight: 500;
	font-style: italic;
}

.copywrite-info p{
	font-weight: 500;
}

#project-link1, #project-link2, #project-link3 {
	font-size: 0.75em;
	letter-spacing: 0.05rem;
	padding-left: 0.5em;
	padding-right: 0.5em;
	font-weight: 300;
	opacity: 0.3;
	color: black;
	font-family: 'Inconsolata', serif;
}

#project-link1:hover, #project-link2:hover, #project-link3:hover {
color: #ff4633;
	opacity: 0.8;
}

/*view more*/

#view-more-home {
	padding-top: 0em;
	padding-bottom: 1em;
}

.view-more-section h2{
	text-align: center;
	opacity: 0.1;
	font-size: 1.5em;
	font-family: 'Lora', 'Inconsolata';
	text-transform: lowercase;
	color: black;
	text-decoration: none;

}

.view-more-section h2:hover, .view-more-section h2:focus, .view-more-section h2:active {
	opacity: 0.2;
	color: #ff4633;
	text-decoration: none;
}

/*citations*/

.citations-section {
  padding-top: 0em;
  padding-bottom: 0em;
  height: 100vh;
  width: 100%;

}

.citations-content{
  position: absolute;
  top: 50vh;
  text-align: center;
  padding-left: 2em;
  padding-right: 2em;
  transform: translate(-50%, -50%);
  left: 50vw;
  overflow: hidden;
  object-fit: cover;
  width: 100%;
}

.citations-content p, .citations-content h2{
  line-height: 2em;
}
